<h1>Users#show</h1>
<%# <p>Find me in app/views/events/index.html.erb</p> %>

List of events created by <%= @user.email %>
    <ul>
        <% @user.created_events.each do |event| %>
        <li>
            <%= link_to event.name, event %>
        </li>
        <% end %>
    </ul>

    List of events being attended by <%= @user.email %>
    <ul>
        <br>
        Upcoming attended events:
        <% @will_attend.each do |event| %>
        <li>
            <%= link_to event.name, event %>
        </li>
        <% end %>
        <br>
        Previously attended events
        <% @has_attended.each do |event| %>
        <li>
            <%= link_to event.name, event %>
        </li>
        <% end %>
    </ul>


